*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background: linear-gradient(to right, #6b6a6a, #0d131f);
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    width: 370px;
    height: 450px;
    background: linear-gradient(to right, #2c6335, #0e2759);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
}

.container h1 {
    margin: 10px 0px 40px 0px;
    font-size: 35px;
    letter-spacing: 1px;
    filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.5));
}

.container input[type="text"] {
    width: 70px;
    height: 30px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.3));
}

.container input::placeholder{
    font-size: 15px;
    opacity: 50%;
}

.Length label{
    font-size: 20px;
    margin-right: 10px;
    font-weight: bold;
}

.option{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    text-align: justify;
    font-size: 18px;
    width: 220px;
    height: 100px;
    padding: 10px 50px;
    margin-left: 120px;
    margin-bottom: 10px;
    position: relative;
}

input[type="checkbox"]{
    cursor: pointer;
    height: 15px;
    width: 15px;
    accent-color: #6a11cb;
    position: absolute;
    left: 20px;
    top: 19px;
    filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.5));
}

#nums{
    top: 53px;
}

#special{
    top: 86px;
}

.btn {
    background-color: #6a11cb;
    align-self: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    width: 300px;
    cursor: pointer;
    margin: 5px;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}

.btn:hover {
    background-color: #410a7b;
    transition: 0.5s;
}

.output {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    background: #605f5f86;
    height: 55px;
    width: 300px;
    border-radius: 10px;
    filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.5));
}
